<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vidoe Chat</title>
  <link rel="stylesheet" href="assets/css/index.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div id="App" class="meeting-room">
    <div class="end-meeting">
      <button
        @click="leaveMeeting"
        v-if="meeting.meeting.host == meeting.recipient._id"
      >
        End Meeting
      </button>
      <button
        @click="leaveMeeting"
        v-else
      >
        Leave
      </button>
    </div>

    <div class="mobile-nav">
      <section class="tab-btns">
        <div class="video-btn">
          <button
            :class="[{ActiveTab: nav.video},'account-tab']"
            @click="toggleNav('video')"
          >
            Video Room
          </button>
        </div>
        <div class="participant-btn">
          <button
            :class="[{ActiveTab: nav.participants},'account-tab']"
            @click="toggleNav('participant')"
          >
            Participants
          </button>
        </div>
        <div class="chat-room-btn">
          <button
            :class="[{ActiveTab: nav.chat},'client-tab']"
            @click="toggleNav('chat')"
          >
            Chat Room
          </button>
        </div>
      </section>
    </div>

    <div class="main-container">
      <div
        class="video-holder"
        v-if="nav.video"
      >
        <div class="col-12 col-sm-6 d-flex justify-content-center">
          <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" muted></video>
          </div>
        </div>
        <div class="col-12 col-sm-6 d-flex justify-content-center">
          <div id="peerDiv" class="embed-responsive embed-responsive-16by9">
          </div>
        </div>
      </div>

      <div 
        id="chatApp"
        :class="[{blockDisplay: nav.chat || nav.participants}, 'chat-holder']"
      >
        <section
          class="tab-btns"
          v-if="!nav.chat && !nav.participants"
        >
          <div class="participant-btn">
            <button
              :class="[{activeTab: showParticipants},'account-tab']"
              @click="showParticipants=true"
            >
              Participants
            </button>
          </div>
          <div class="chat-room-btn">
            <button
              :class="[{activeTab: !showParticipants},'client-tab']"
              @click="showParticipants=false"
            >
            Chat Room
            </button>
          </div>
        </section>
        <div 
          class="participants"
          v-if="showParticipants || nav.participants"
        >
        <div
          class="user-details"
          v-for="user in participants"
        >
          <div class="user-avartar">
            <img 
              :src="user.user_profile_image_path"
              alt="User"
            >
          </div>
          <div class="user">
          <p>
            {{ user.names }}
          </p>
          </div>
        </div>
        </div>
        <div
          class="chat-room"
          v-if="!showParticipants || nav.chat"
        >
          <main class="main">
            <ul>
              <li
                v-for="msg in messages"
                :class="[msg.sender === user ? 'me' : 'respondent']"
                >
                  <strong v-if="msg.sender !== user" class="sender">{{ msg.sender}} <br> </strong>
                  {{ msg.message }} 
                </li>
            </ul>
          </main>
          <footer>
            <form @submit.prevent = "initiateChat" class="msg">
              <input @keyup="typing($event)" type="text" v-model="msg" name="message" id="message" placeholder="Type a message" autocomplete="off">
              <button class="send" id="send">
                <img src="assets/images/send.png" alt="Send">
              </button>
            </form>
          </footer>
        </div>
      </div>
    </div>
    <div
      class="userLeft"
      v-if="information.length > 0"
    >
      <p> {{ information }} </p>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>
</html>
<script>
const socket = io('/chat')
const app =  new Vue({
  el: '#App',
  data: {
    baseUrl: 'http://localhost:3000/',
    meeting: {},
    msg: '',
    messages: [],
    participants: [],
    user: '',
    generalMsg: null,
    userTyping: '',
    showParticipants: true,
    information: '',
    nav: {
      video: true,
      participants: false,
      chat: false
    }
  },
  methods: {
    toggleNav (view) {
      if (view === 'video') {
        this.nav.video = true
        this.nav.participants = false
        this.nav.chat = false
      } else if (view === 'participant') {
        this.nav.video = false
        this.nav.participants = true
        this.nav.chat = false
        this.showParticipants = true
      } else if (view === 'chat') {
        this.nav.video = false
        this.nav.participants = false
        this.nav.chat = true
        this.showParticipants = false
      }
    },

    newUser () {
      socket.emit('newUser', this.meeting)
    },
    
    initiateChat() {
      this.userTyping = ''
      socket.emit('finish', this.meeting.recipient.names)
      if (this.msg !== '') {
        const message = {
          sender: this.meeting.recipient.names,
          message: this.msg,
          meeting_id: this.meeting.meeting._id
        }
        this.messages.push(message)
        socket.emit('chat', message)
        this.msg =''
      }
    },
    
    typing(e) {
      if (e.keyCode !== 13) {
        socket.emit('typing', this.meeting.recipient.names)
      } else {
        this.userTyping = ''
        socket.emit('finish', this.meeting.recipient.names)
      }
    },
    
    leaveMeeting () {
      const participant = this.meeting.recipient._id
      const host = this.meeting.meeting.host
      const payload = {
        meeting: this.meeting.meeting._id,
        participant: participant
      }
      localStorage.removeItem('meeting')
      if (participant === host) {
        socket.emit('endMeeting', payload)
      } else {
        socket.emit('leaveMeeting', payload)
      }
      localStorage.setItem('meetingEnd', JSON.stringify(this.meeting.recipient.names))
      self.location = 'index.html'
    },
  },
  mounted() {
    socket.on('message', (data) => {
      this.messages = data
    })

    socket.on('userTyping', (data) => {
      this.userTyping = data
    })

    socket.on('userStoppedTyping', (data) => {
      this.userTyping = ''
    })

    socket.on('appendUser', (payload) => {
      this.participants = payload.participants
      this.messages = payload.chats
    })

    socket.on('userJoined', (msg) => {
      this.information = msg

      setTimeout(()=> {
        this.information = ''
      }, 3000)
    })
    socket.on('participantLeft', (data) => {
      this.participants = data.meetingParticipants
      this.information = data.message

      setTimeout(()=> {
        this.information = ''
      }, 3000)
    })

    socket.on('meetingEnded', (msg) => {
      localStorage.removeItem('meeting')
      localStorage.setItem('meetingEnd', JSON.stringify(this.meeting.recipient.names))
      self.location = 'index.html'
    })
  },

  created() {
    const user = localStorage.getItem('user')
    const meeting = localStorage.getItem('meeting')
    const constraintObj = {video: true, audio: true}
    if (meeting == null || user == null) {
      self.location = `${this.baseUrl}join_meeting`
    } else {
      (meeting !== null) ? this.meeting = JSON.parse(meeting) : self.location =  `${this.baseUrl}join_meeting`
      this.user = this.meeting.recipient.names
    }
    //NEW USER JOINED
    this.newUser()
  }
})
</script>

<style>
  .blockDisplay {
    display: block !important;
  }
  .me {
    float: left;
    border-radius: 0px 10px 10px 0px;
  }
  .respondent {
    float: right;
    border-radius: 10px 0px 0px 10px;
  }
  .sender {
    color:rgb(255, 46, 151)
  }
  .typing {
    font-size: 10px;
    color:blanchedalmond
  }
  .activeTab {
    border-bottom: 4px solid rgba(144, 197, 144, 0.849) !important;
  }
  .mobileActiveTab {
    border-top: 4px solid rgba(144, 197, 144, 0.849) !important;
  }
</style>