<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VirTual Class</title>
  <link rel="stylesheet" href="assets/css/index.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
</head>
<body>
  <div id="App">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="index.html">VirTual Class</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" :href="host_meeting">Host a Meeting<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" :href="join_meeting">Join a Meeting</a>
          </li>
        </ul>
        <div
        class="form-inline my-2 my-lg-0"
        v-if="!loggedIn"
        >
          <a href="login.html" class="btn btn-outline-secondary my-2 mr-4 my-sm-0">Sign In</a>
          <a href="register.html" class="btn btn-outline-secondary   my-2 my-sm-0">Sign Up</a>
        </div>
        <div
          class="form-inline my-2 my-lg-0"
          v-else
        >
        <button @click="logout" class="btn btn-outline-secondary my-2 mr-4 my-sm-0">Sign Out</button>
      </div>
      </div>
    </nav>
    <div id="loginApp">
      <div class="login-holder">
        <div class="login">
          <div class="head">
            <h3>Schedule Meeting</h3>
          </div>
          <span class="successMsg">
            {{ successMessage }}     
          </span>
          <span class="errMsg">
            {{ error }}
          </span>
          <form
            v-if="!response.status"
          >
            <div class="form-group">
              <label for="title">Title:</label>
              <input 
                type="text" 
                autocomplete="off" 
                placeholder="Meeting Title"
                v-model="meeting.title"
                @keyup.enter="hostMeeting()"
              >
            </div>
            <div class="form-group">
              <label for="date">Date:</label>
              <input
                type="date"
                placeholder="Meeting Date"
                v-model="meeting.date"
                @keyup.enter="hostMeeting()"
              >
            </div>
            <div class="form-group">
              <label for="from">From:</label>
              <input
                type="time"
                placeholder="From"
                v-model="meeting.from"
                @keyup.enter="hostMeeting()"
              >
            </div>
            <div class="form-group">
              <label for="to">To:</label>
              <input
                type="time"
                placeholder="To"
                v-model="meeting.to"
                @keyup.enter="hostMeeting()"
              >
            </div>
            <input
              type="submit"
              value="Submit"
              @click.prevent="hostMeeting()"
            > 
          </form>
          <div 
            class="meeting-details"
            v-else
          >
          <p> 
            <span class="left">Meeting Title: </span>
            <span class="right">{{ response.data.title}}</span> 
          </p>
          <p> 
            <span class="left">Meeting Id: </span>
            <span class="right">{{ response.data.meeting_id}}</span>
          </p>
          <p>
            <span class="left">Meeting Link:</span>
            <span class="right"> {{ baseUrl}}{{response.data.meeting_id}} </span>
          </p>
          <p>
            <span class="left">Host: </span>
            <span class="right">{{ response.host }}</span>
          </p>
          <p>
            <span class="left">Meeting Date: </span>
            <span class="right">{{ response.data.date }}</span>
          </p>
          <p>
            <span class="left">Start Time: </span>
            <span class="right">{{ response.data.from }}</span>
          </p>
          <p>
            <span class="left">Meeting Ends: </span>
            <span class="right">{{ response.data.to }}</span>
          </p>
        </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-content">
          <div class="row">
              <div class="col animate__animated animate__fadeInLeft">
                  <div class="img-wrapper">
                    <img src="assets/images/lasu.png" alt="Lasu Debate Logo">
                  </div>
              </div>
              <div class="col">
                  <ul class="animate__animated animate__fadeInLeft">
                      <li><a href="index.html">VirTual LecTure</router-link></li>
                      <li><a :href="host_meeting">Schedule Meeting</router-link></li>
                      <li><a :href="join_meeting">Join Meeting</router-link></li>
                  </ul>
              </div>
              <div class="col">
                  <div class="social-links">
                      <a href=""><i class="fa fa-facebook animate__animated animate__bounce"></i></a>
                      <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                      <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                      <a href=""><i class="fa fa-envelope" aria-hidden="true"></i> </a>
                  </div>
              </div>
              <div class="col">
                  <div class="signup-cta">
                      <h2>CONTACT US</h2>
                      <div class="cta-btn">
                          <button>NOW</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  </div>
</body>
</html>
<script>
  var loginApp = new Vue({
    el: '#App',
    data () {
      return {
        baseUrl: 'http://localhost:3000/',
        error: '',
        loggedIn: false,
        successMessage: '',
        host_meeting: 'http://localhost:3000/login.html',
        join_meeting: 'http://localhost:3000/login.html',
        response: {
          status: false,
          data: {},
          host: ''
        },
        meeting: {
          title: '',
          date: '',
          from: '',
          to: ''
        }
      }
    },
    methods: {
      formatDate (dueDate) {
        dateData = dueDate.split('-')
        const year = dateData[0]
        const month = dateData[1]
        const day = dateData[2]
        const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        const formattedDate = `${months[month - 1]} ${day}, ${year}`
        return formattedDate
      },

      formatTime (time) {
        let formattedTime
        const timeArray = time.split(':')
        let hour = Number(timeArray[0])
        const min = Number(timeArray[1])

        let new_hour
        const prompt = {
          pm: "PM",
          am: 'AM'
        }
        if (hour <= 11 || hour === 00) {
          hour === 00 ? hour = 12 : hour
          formattedTime = `${hour}:${min} ${prompt.am}`
        } else {          
          switch(hour){
            case 13:
              new_hour = 01
              break
            case 14:
              new_hour = 02
              break
            case 15:
              new_hour = 03
              break
            case 16:
              new_hour = 04
              break
            case 17:
              new_hour = 05
              break
            case 18:
              new_hour = 06
              break
            case 19:
              new_hour = 07
              break
            case 20:
              new_hour = 08
              break
            case 21:
              new_hour = 09
              break
            case 22:
              new_hour = 10
              break
            case 23:
              new_hour = 11
              break
            case 12:
              new_hour = 12
          }
          formattedTime = `${new_hour}:${min} ${prompt.pm}`
        }
        return formattedTime
      },

      hostMeeting () {
        const title = this.meeting.title
        const date = this.formatDate(this.meeting.date)
        const to = this.formatTime(this.meeting.to)
        const from = this.formatTime(this.meeting.from)
        const user = localStorage.getItem('user')
        let current_user = JSON.parse(user)

        if (title === '' || date === '' || to === '' || from === '') {
          this.error = 'All fields are required'
        } else {
          this.error = ''
          thissuccessMessage =''

          const payload  = new FormData()
          payload.append('title', title)
          payload.append('date', date)
          payload.append('from', from)
          payload.append('to', to)
          payload.append('current_user', current_user.user)

          const fetchData  = {
            method: 'post',
            body:  payload,
          }

          let url = `${this.baseUrl}schedule_meeting`

          fetch(url, fetchData)
          .then(resp => {
              if(resp.ok) {
                return resp.json()
              } else {
                return Promise.reject()
              }
          })
          .then(data => {
            if (data.reply === 'success') {
              this.response.status = true
              this.successMessage = 'Meeting scheduled successfully, find meeting details below'
              this.response.data = data.meeting
              this.response.host = data.hostName
            } else {
              this.error = data.reply
            }
          })
          .catch(error => {
            console.log(error)
          })
        }
      },
      logout () {
        localStorage.clear()
        self.location = 'index.html'
      }
    },
    created() {
      const user = localStorage.getItem('user')
      const meeting = localStorage.getItem('meeting')

        if (user == null) {
          self.location = 'login.html'
        } else {
        const current_user = JSON.parse(user)
        if (current_user) {
          this.loggedIn = true
          this.host_meeting = `${this.baseUrl}host_meeting`
          this.join_meeting = `${this.baseUrl}join_meeting`
        }
        if (meeting !== null) {
          self.location = `${this.baseUrl}conference_meeting.html`
        }
      }
    }
  })
</script>