<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VirTual Class</title>
  <link rel="stylesheet" href="assets/css/index.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
</head>
<body>
  <div id="App">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="index.html">VirTual Class</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" :href="host_meeting">Host a Meeting<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" :href="join_meeting">Join a Meeting</a>
          </li>
        </ul>
        <div
        class="form-inline my-2 my-lg-0"
        v-if="!loggedIn"
      >
        <a href="login.html" class="btn btn-outline-secondary my-2 mr-4 my-sm-0">Sign In</a>
        <a href="register.html" class="btn btn-outline-secondary   my-2 my-sm-0">Sign Up</a>
      </div>
      <div
        class="form-inline my-2 my-lg-0"
        v-else
      >
      <button @click="logout" class="btn btn-outline-secondary my-2 mr-4 my-sm-0">Sign Out</button>
    </div>
      </div>
    </nav>
    <div id="loginApp">
      <div class="login-holder">
        <div class="login">
          <div class="head">
            <h3>Join Meeting</h3>
          </div>
          <span class="errMsg">
            {{ error }}
          </span>
          <form>
            <div class="form-group">
              <span><i class="fa fa-hashtag" aria-hidden="true"></i></span>
              <input 
                type="text"
                autocomplete="off" 
                placeholder="Meeting ID"
                v-model="meeting.id"
                @keyup.enter="host_meeting()"
              >
            </div>
            <input
              type="submit"
              value="Join"
              @click.prevent="joinMeeting()"
            > 
          </form>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-content">
          <div class="row">
              <div class="col animate__animated animate__fadeInLeft">
                  <div class="img-wrapper">
                    <img src="assets/images/lasu.png" alt="Lasu Debate Logo">
                  </div>
              </div>
              <div class="col">
                  <ul class="animate__animated animate__fadeInLeft">
                      <li><a href="index.html">VirTual LecTure</router-link></li>
                      <li><a :href="host_meeting">Schedule Meeting</router-link></li>
                      <li><a :href="join_meeting">Join Meeting</router-link></li>
                  </ul>
              </div>
              <div class="col">
                  <div class="social-links">
                      <a href=""><i class="fa fa-facebook animate__animated animate__bounce"></i></a>
                      <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                      <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                      <a href=""><i class="fa fa-envelope" aria-hidden="true"></i> </a>
                  </div>
              </div>
              <div class="col">
                  <div class="signup-cta">
                      <h2>CONTACT US</h2>
                      <div class="cta-btn">
                          <button>NOW</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </footer>
  </div>
</body>
</html>
<script>
  var loginApp = new Vue({
    el: '#App',
    data () {
      return {
        baseUrl: 'http://localhost:3000/',
        host_meeting: 'http://localhost:3000/login.html',
        join_meeting: 'http://localhost:3000/login.html',
        loggedIn: false,
        error: '',
        successMessage: '',
        meeting: {
          id: ''
        }
      }
    },
    methods: {
      joinMeeting () {
        this.error = ''
        const meeting_id = this.meeting.id
        if (meeting_id === '') {
          this.error = 'Please input the meeting ID'
        } else {
          const user = localStorage.getItem('user')
          let current_user
          if(user !== null) {
            current_user = JSON.parse(user)
          }

          let url = `${this.baseUrl}join_meeting_by_id/${meeting_id}/${current_user.user}`

          fetch(url)
          .then(resp => {
              if(resp.ok) {
                return resp.json()
              } else {
                return Promise.reject()
              }
            })
          .then(data => {
            if (data.reply === 'success') {
              localStorage.setItem('meeting', JSON.stringify(data))
              self.location = 'conference_meeting.html'
            } else {
              this.error = data.reply
            }
          })
          .catch(error => {
            console.log(error)
          })
        }
      },

      logout () {
        localStorage.clear()
        self.location = 'index.html'
      }
    },
    
    created() {
      const user = localStorage.getItem('user')
      const meeting = localStorage.getItem('meeting')

      if (user == null) {
        self.location = 'login.html'
      } else {
        const current_user = JSON.parse(user)
        if (current_user) {
          this.loggedIn = true
          this.host_meeting = `${this.baseUrl}host_meeting`
          this.join_meeting = `${this.baseUrl}join_meeting`
        }
        if (meeting !== null) {
          self.location = `${this.baseUrl}conference_meeting.html`
        }
      }
    }
  })
</script>