$btnColor: rgb(124, 179, 124);
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}

.mobile-nav {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
  .tab-btns {
    width: 100%;
    display: flex;
    .participant-btn {
      width: 50%;
      @media (max-width: 768px) {
        width: 33.3%;
      }   
      .account-tab {
        border: 0;
        border-right: 2px solid #f3f6f7;
      }
    }
    .video-btn {
      width: 50%;
      @media (max-width: 768px) {
        width: 33.3%;
      }   
      .account-tab {
        border: 0;
        border-right: 2px solid #f3f6f7;
      }
    }
    .chat-room-btn {
      width: 50%;
      @media (max-width: 768px) {
        width: 33.3%;
      }     
      .client-tab {
        border: 0;
        border-left: 2px solid #f3f6f7;
      }
    }
    button {
      outline: none;
      padding: 10px;
      width: 100%;
      font-size: medium;
      font-weight: 500;
      letter-spacing: 2px;
      color: #2f2519;
      background-color: #a4c5c6;
      @media (max-width: 768px) {
        padding: 5px;
        letter-spacing: 0;
      }        
    }
    button:hover {
      background-color: #035aa6;
      border-color: #035aa6;
      color: whitesmoke;
    }
  }
}


.carosel-image {
  height: 300px;
}

.end-meeting {
  display: flex;
  justify-content: flex-end;
  padding: 3px 10px;
  background-color: rgb(88, 86, 86);
  button {
    border: 0;
    border-radius: 5px;
    outline: none;
    background-color: rgb(248, 115, 137);
    color: whitesmoke;
    padding: 4px 10px;
  }
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .video-holder {
    width: 70%;
    background-color: rgb(194, 192, 192);

    @media (max-width: 768Px) {
      width: 100%;
      height: 89.9vh
    }
  }

  .chat-holder {
    width: 30%;
    @media (max-width: 768Px) {
      width: 100%;
      display: none;
    }
    .tab-btns {
      width: 100%;
      display: flex;
      .participant-btn {
        width: 50%;
        .account-tab {
          border: 0;
          border-right: 2px solid #f3f6f7;
        }
      }
      .chat-room-btn {
        width: 50%;
        .client-tab {
          border: 0;
          border-left: 2px solid #f3f6f7;
        }
      }
      button {
        outline: none;
        padding: 10px;
        width: 100%;
        font-size: medium;
        font-weight: 500;
        letter-spacing: 2px;
        color: #2f2519;
        background-color: #a4c5c6;
        @media (max-width: 768px) {
          padding: 5px;
          letter-spacing: 0;
        }        
      }
      button:hover {
        background-color: #035aa6;
        border-color: #035aa6;
        color: whitesmoke;
      }
    }
    .participants {
      width: 100%;
      height: 86.2vh;
      overflow-y: scroll;
      @media (max-width: 768px) {
        height: 88.5vh
      }
      .user-details { 
        color: rgb(90, 89, 88);
        padding: 10px 10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        border-bottom: 1px solid rgb(221, 219, 219);

        .user-avartar {
          width: 45px;
          img{
            border-radius: 50%;
            width: 100%;
          }
        }
        .user {
          position: relative;
          p {
            margin: 10px 10px;
            padding: 0px 5px;
            span {
              cursor: pointer;
            }
          }
        }
      }
    }
    .main {
      width: 100%;
      margin: 0;
      padding: 0;
      height: 86.2vh;
      overflow-y: scroll;
      @media (max-width: 768Px) {
        height: 89.7vh;
      }
      ul {
        margin: 0;
        padding-left: 1px;
        li {
          list-style-type: none;
          margin: 10px 2px;
          width: 60%;
          padding: 5px;
          color: rgb(60, 61, 61);
          background-color: rgb(235, 229, 229);
        }
      }
    }
    footer {
      width: 100%;
      position: absolute;
      bottom: 0;
      .msg {
        background-color: rgb(240, 240, 240);
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        padding: 5px 0px 5px 10px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        @media (max-width: 768px) {
          width: 100%;
        }
        input {
          background-color: transparent;
          outline: none;
          border: none;
          width: 100%;
          font-size: 1.2rem;
          @media (max-width: 768px) {
            width: 85%;
          }
        }
        .send {
          border: none;
          outline: none;
          background-color: transparent;
          margin: 0;
          img {
            width: 30px;
          }
        }
      }
      
      div {  
        width: 15%;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}

.chat-room {
  position: relative;
}


.footer {
  background: #2d3436;
  width: 100%;
  height: auto;
  padding: .5rem 4rem;
  .footer-content {
    .row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 768px) {
        display: block;
      }
      .img-wrapper {
        width: 200px;
        img {
          width: 100%;
        }
      }
      .col {
        width: 30%;
        @media (max-width: 768px) {
          width: 100%;
          text-align: center;
          margin: 2rem 0;
        }
      }
      ul {
        list-style: none;
        padding-left: 0;
        li {
          margin-bottom: 1rem;
          a {
            text-decoration: none;
            color: white;
            &:hover {
              color: #f25c2f;
            }
          }
        }
      }
      .signup-cta {
        color: white;
        .cta-btn {
          button {
            padding: 1rem 2rem;
            background: transparent;
            color: white;
            margin: 1rem 0;
            border: 3px solid white;
            font-weight: 700;
            &:hover {
              background: white;
              color: #000000;
            }
          }
        }
      }
      .social-links {
        font-size: 32px;
        display: flex;
        justify-content: space-between;
        width: 80%;
        a {
          color: white;
          &:hover {
            color: #f25c2f;
          }
        }
        @media (max-width: 768px) {
          width: 50%;
          margin: auto;
        }
      }
    }
  }
}

#loginApp, #regApp {
  .login-holder {
    width: 100%;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
      width: 100%;
      padding: 30px 5px;
    }
    .login {
      width: 50%;
      border-radius: 5px;
      padding: 20px;
      // background-color: #fffafa;
      // box-shadow: 2px 2px 4px black;
      @media (max-width: 768px) {
        width: 100%;
        padding: 0px;
      }

      .head {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 30px;

        h3 {
          margin: 0px;
          color: rgb(78, 78, 78);
          font-weight: bold;
        }
        a {
          text-decoration: none;
          font-weight: bold;
          padding: 2px 4px;
          border-radius: 5px;
          color: rgb(78, 78, 78);
          &:hover {
            background-color: rgb(37, 57, 172);
            color: whitesmoke;
          }
        }
      }
      .errMsg {
        font-size: 15px;
        color: rgb(253, 68, 99);
        margin: 0;
        padding: 0;
      }
      .successMsg {
        font-size: 15px;
        color: rgb(67, 236, 118);
        margin: 0;
        padding: 0;
      }
      .form-group {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid grey;
        margin: 20px auto 30px;

        input {
          outline: none;
          border: none;
          padding-left: 5px;
          padding-top: 2px;
          font-size: 14px;
          background-color: transparent;
          height: 100%;
          width: 95%;
        }
        select {
          outline: none;
          border: none;
          outline: none;
          font-size: 13px;
          padding: 5px 10px;
          background-color: transparent;
          height: 100%;
          width: 95%;
          option {
            background-color: rgb(248, 236, 236);
          }
        }
        option:hover {
          border: 0
        }
        input::placeholder {
          font-size: 10px;
          color: rgb(199, 196, 196)
        }
      }
      input[type=submit] {
        background-color: rgb(37, 57, 172);
        width: 50%;
        margin: 0px 0px 0px 50%;
        padding: 5px 10px;
        font-size: 17px;
        font-weight: bold;
        outline: none;
        border: none;
        border-radius: 5px;
        color: whitesmoke;
        &:hover {
          background-color: rgb(0, 14, 95);
        }
      }
    }
  }
  span {
    cursor: pointer;
  }
  .file-name {
    font-size: 10px;
    color: rgb(199, 196, 196);
    cursor: pointer;
  }
  .file-input {
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 5px;
    cursor: pointer;
  }
}
// End of LoginApp and RegApp

.meeting-details {
  padding: 20px 0px 0px;
  p {
    width: 100%;
    display: flex;
    justify-content: space-between;
   
    .left {
      width: 25%;
      color: rgb(190, 189, 189);
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }

    .right {
      width: 75%;
      color: rgb(34, 33, 33);
      font-size: 15px;
      @media (max-width: 768px) {
        font-size: 12px;
      }

    }
  }
}

#App {
  position: relative;
  .userLeft {
    position: absolute;
    background-color: rgb(68, 68, 68);
    width: 100%;
    bottom: 0;
    p {
      color: whitesmoke;
      width: 100%;
      text-align: center;
      margin: 0px;
      padding: 5px 10px;
      font-size: 20px;
      text-shadow: 2px 2px 4px rgb(68, 68, 68);
      letter-spacing: 2px;
    }
  } 
}

.feedback-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2);
  // background-color: rgba(0,0,0,.9);
  z-index: 1000;

  .modal-content {
    width: 40%;
    border-radius: 20px;
    padding: 0px 0px;
    @media (max-width: 768px) {
      width: 80%;
    }

    header {
      padding: 5px;
      background-color: rgb(69, 69, 70);
      border-radius: 20px 20px 0px 0px;
      position: relative;
      @media (max-width: 768px) {
        padding: 15px;
        border-radius: 0px;
      }
      h2 {
        color: whitesmoke;
        font-weight: 400;
        font-size: 20px;
        padding-left: 5px;
      }
      span {
        font-size: 42px;
        color: whitesmoke;
        font-weight: 400;
        transform: rotate(45deg);
        position: absolute;
        top: -16px;
        right: 14px;
        cursor: pointer;
        &:hover {
          color: red;
        }
        @media (max-width: 768px) {
          top: -5px;
        }
      }
    }
    .client-main {
      @media (max-width: 768px) {
        overflow-y: scroll;
      }
    } 
    main {
      padding: 10px 20px 20px;
      @media (max-width: 768px) {
        padding: 20px 20px;
      }
      span {
        color: rgb(243, 138, 138);
        font-size: smaller;
      }
      .account-form-group {
        width: 100% !important;
      }
      .form-group {
        padding: 5px; 
        width: 50%;
        margin: 0px auto 0px; 
        @media (max-width: 768px) {
          padding: 10px;
        }
        .feedback {
          border-radius: 5px;
          border: 0.5px solid grey;
          outline: none;
          font-size: 13px;
          background-color: transparent;
          padding: 5px 10px;
          width: 100%;
        }
        .feedback::placeholder {
          font-size: 12.5px;
          color: rgb(199, 196, 196)
        }
      }
      input[type=submit] {
        background-color: rgb(37, 57, 172);
        width: 50%;
        margin: 20px 0% 0px 50%;
        padding: 5px 10px;
        font-size: 15px;
        outline: none;
        border: none;
        border-radius: 5px;
        color: whitesmoke;
      }
    }

   
  }
}

.showModalClass {
  display: flex !important;
}